

body {
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    background-color: rgb(155, 133, 229);
}


.container {
    display: flex;
    justify-content: center;
}

.palavraSecreta {
    display: flex;
    justify-content: center;
}

.palavraSecreta-2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.teclado {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
}

p {
    font-size: 20px;
}

span {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #DC1F27;
    width: 40px;
    margin: 5px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

button {
    display: flex;
    justify-content: center;
    margin: 5px;
    width: 100px;
    padding: 10px;
    background-color: darkblue;
    color: white;
    border: 1px solid #00698C;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: rgb(94, 94, 221);
}

input{
    width: 50px;
    font-size: 30px;
}