

body{
    
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}
.containerForca{
    display: flex;
    justify-content: center;
}
.containerPalavraOculta{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: flex-end;
    
}
.container-teclado{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 30px;
    

}
h1{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid red;
    width: 40px;
    margin:5px;
    padding-bottom:10px;
    font-size: 25px;
    font-weight:bold ;

}
button{
    margin: 5px;
    width: 30px;
    padding: 10px;
    background-color: blue;
    color: aliceblue;
    border: 1px solid blue;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
}
button:hover{
    background-color: blueviolet;
}
